<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellidos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona : ${personas}">
				<td th:text="${persona.id}"></td>
				<td><a href="#" th:text="${persona.nombre}"></a></td>
				<td th:text="${persona.apellidos}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>