@charset "UTF-8";
body{
	min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
h1{
	text-align:center;
}
ul{
	display: flex;
    list-style: none;
    padding:0;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background-color: #000000c9;
    border-radius:3px;
}
ul li{
	padding:10px;
}
ul li:hover{
	background-color: #1b1b1bc9;
}
ul li a{
	color:white;
	text-decoration:none;
	text-transform:Capitalize;
}
ul li a:hover{
	text-decoration:none;
	}
.footer{
	text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}